# First Program
This is my first comment on the Jupyter Notebook

## List Operations

Sample list __operations__.

In [2]:
x = ['Sifael','Daren','Bryan']
x

['Sifael', 'Daren', 'Bryan']

In [3]:
sample_tuple = ('Sifael','Daren','Bryan')
sample_tuple

('Sifael', 'Daren', 'Bryan')

In [5]:
# CHanging to list
sample_tuple = list(sample_tuple)
sample_tuple

['Sifael', 'Daren', 'Bryan']

In [6]:
sample_tuple.append('Eli')
sample_tuple

['Sifael', 'Daren', 'Bryan', 'Eli']

In [7]:
sample_tuple.pop()

'Eli'

In [8]:
sample_tuple

['Sifael', 'Daren', 'Bryan']

In [9]:
sample_tuple.append('Eli')

In [10]:
sample_tuple

['Sifael', 'Daren', 'Bryan', 'Eli']

In [11]:
sample_tuple.insert(0,'Chris')

In [12]:
sample_tuple

['Chris', 'Sifael', 'Daren', 'Bryan', 'Eli']

# Dictionary

In [19]:
names = {"First Name":"Sifael","Last Name":"Ndandala","Dpt":"Analysis"}
names["First Name"]

'Sifael'

In [20]:
names["Last Name"] = "Roberts"

In [21]:
names ["Last Name"]

'Roberts'

# Loops

### For Loops

In [23]:
letters = "ABCDEFGHIJKLMNOP"

for letter in letters:
    print(letter)

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P

In [25]:
for x in range(2,9):
    print(x)

2
3
4
5
6
7
8

In [28]:
for tyuttt in range (2,9):
    print(tyuttt)

2
3
4
5
6
7
8

In [27]:
for tyuttt in range (2,9):
    print("Bryan")

Bryan
Bryan
Bryan
Bryan
Bryan
Bryan
Bryan

In [34]:
numbers = [1,2,4,5,2,4,6,2,6]

for x in numbers:
    if x == 2:
        print(2)

2
2
2

In [35]:
for index,value in enumerate(numbers):
    print(index)
    print(value)

0
1
1
2
2
4
3
5
4
2
5
4
6
6
7
2
8
6

In [36]:
for index,value in enumerate(numbers):
    if index % 2 == 0:
        print(numbers[index])
    else:
        print("This does not fall within an even index")

1
This does not fall within an even index
4
This does not fall within an even index
2
This does not fall within an even index
6
This does not fall within an even index
6

# If Elif Statement

In [44]:
names = ['Abby','Bryan','Chan','Daren','Eli']
      
for names in names:
      if 'A' in name:
          print("HEY, YOUR NAME HAS A",name)
      elif "B" in name:
          print("Hey, YOUR NAME HAS B",name)
      elif "C" in name:
          print("Your NAme Sucks",name)
      else:
          print("Yourname is cool",name)

Yourname is cool Eli
Yourname is cool Eli
Yourname is cool Eli
Yourname is cool Eli
Yourname is cool Eli