In [1]:
#### Defining String

name = "sifael"
name_2 = "bryan"

In [3]:
type(name), type(name_2)

(str, str)

### Python String In-Built Functions
#### 1. Capitalize()

In [4]:
'bryan'.capitalize()

'Bryan'

#### 2. Uppercase()

In [5]:
'bryan'.upper()

'BRYAN'

#### 3. Lowercase()

In [6]:
'BRYAN'.lower()

'bryan'

#### 4. Count()

In [8]:
'The Premier League'.count('P')

1

#### 5. Title()

In [10]:
'the premier league'.title()

'The Premier League'

#### 6. Swapcase()

In [11]:
'cRaZY Text WOO!'.swapcase()

'CrAzy tEXT woo!'

#### 7. Split()

In [40]:
names = 'Jared,Sam,Dave,Melanie,Cindy,Amanda'
print(names.split(","))

names = names.split(",")

['Jared', 'Sam', 'Dave', 'Melanie', 'Cindy', 'Amanda']

#### 8. Join

In [41]:
names = '|'.join(names)
names

'Jared|Sam|Dave|Melanie|Cindy|Amanda'

#### 9. replace

In [42]:
print(names.replace('|', '$'))
names = names.replace('|', '$')

Jared$Sam$Dave$Melanie$Cindy$Amanda

#### 10. rsplit

In [43]:
names

'Jared$Sam$Dave$Melanie$Cindy$Amanda'

In [47]:
names.rsplit('$', 1)

['Jared$Sam$Dave$Melanie$Cindy', 'Amanda']

In [49]:
# Splitting items by index
names.split('$', 2)

['Jared', 'Sam', 'Dave$Melanie$Cindy$Amanda']

#### 11. Retriving a String

In [67]:
external_id = "www_xa978_zzz_onl-se_zzzgo_t_sem2_zzzz_m_zg_d245b64f-c49f-417a-905a-da03232d478e_171036613640_43453"
external_id.rsplit('_', 3)
external_id.rsplit('_', 3)[1]
external_id.rsplit('_', 3)[1].rsplit('-', 1)[1].count('0')

1

In [75]:
external_id.split('z_')[1].split('_z')[0]

'onl-se'

#### 12. Find()

In [78]:
external_id.find('z')

10

In [80]:
external_id[ external_id.find('z'): external_id.find('z')+3 ]

'zzz'

In [94]:
external_id.find('3', len(external_id)-1, len(external_id))

98

#### 13. Math-like operations
#### a. Addition

In [96]:
first_name = 'Bryan'
last_name = 'Nonni'

first_name + last_name

'BryanNonni'

#### b. Multiplication

In [98]:
first_name * 3

'BryanBryanBryan'

#### 14. strip(), rstrip, lstrip

In [102]:
' bryan '.strip(' ')

'bryan'

In [103]:
' bryan '.lstrip(' ')

'bryan '

In [104]:
' bryan '.rstrip(' ')

' bryan'

In [107]:
' bryan '.strip(' b')

'ryan'

In [109]:
' bryan '.rstrip('n ')

' brya'

#### 15. maketrans, translate

In [113]:
in_code = 'aeiou'
out_code = 'vwxyz'

code = str.maketrans(in_code, out_code)

'Bryan is good to go!'.translate(code)

'Bryvn xs gyyd ty gy!'

#### 16. startswith

In [114]:
'360i'.startswith('z')

False

In [115]:
'360i'.startswith('3')

True

In [116]:
'Z60i'.startswith('z')

False

In [117]:
'z60i'.startswith('z')

True

In [118]:
'Z60i'.lower().startswith('z')

True

#### 17. endswith

In [119]:
'mlsoccer'.endswith('R')

False

In [120]:
'mlsoccer'.endswith('r')

True

In [121]:
'mlsoccer'.upper().endswith('R')

True

### In-built Checks
#### 1. isnumeric - checks if whole string is numeric

In [127]:
print('12345'.isnumeric())
print('12345.2'.isnumeric())

True
False

#### 2. isalpha

In [126]:
print('21JumpStreet'.isalpha())
print('TwentyOneJumpStreet'.isalpha())

False
True

#### 3. isdigit

In [129]:
print('123452'.isdigit())
print('LOWER'.isdigit())

True
False

#### 4. islower

In [131]:
print('testing'.islower())
print('Testing'.islower())

True
False

In [133]:
print('bry'.isupper())
print('BRY'.isupper())

False
True

#### 6. alnum

In [134]:
print('testing123'.isalnum())
print('testing123!!!'.isalnum())

True
False

#### 7. isspace

In [137]:
print(''.isspace())
print(' '.isspace())
print(' somethingelse'.isspace())

False
True
False

In [164]:
thing = ' somethingelse'
thing[0]
count = 0
for char in thing:
    if thing[count].isspace():
        print("True")
    else:
        print("False")
    count = count+1

True
False
False
False
False
False
False
False
False
False
False
False
False
False