## Pandas

#### Introduction to Pandas

In [1]:
import pandas as pd

In [6]:
data = pd.DataFrame({'Names': ['Sif', 'Daren', 'Bryan', 'Hector'],
                    'Dpt': ['Analytics', 'Media - SEM', 'Media - AFF', 'Analytics'],
                    'Years': [2, 2, 2, 1],
                    'Title': ['DS', 'MM', 'MM', 'Dr']})
# DataFrame function takes dictionary of keys and values to create a table

In [7]:
data

           Dpt   Names Title  Years
0    Analytics     Sif    DS      2
1  Media - SEM   Daren    MM      2
2  Media - AFF   Bryan    MM      2
3    Analytics  Hector    Dr      1

In [8]:
data.dtypes

Dpt      object
Names    object
Title    object
Years     int64
dtype: object

In [9]:
data.describe()

       Years
count   4.00
mean    1.75
std     0.50
min     1.00
25%     1.75
50%     2.00
75%     2.00
max     2.00

In [13]:
data.columns
## .columns = argument
## .columns() = method

Index(['Dpt', 'Names', 'Title', 'Years'], dtype='object')

In [14]:
data.shape

(4, 4)